{% extends "base.html" %}

{% block content %}
    <h1>Game</h1>
	<table>
		<tr>
			<td>gid</td>
			<td>date</td>
			<td>HOME</td>
			<td>AWAY</td>			
		</tr>
    {% for game in games %}
		<tr>
			<td>{{ game.gid }}</td>
			<td>{{ game.gdate }}</td>			
			<td>{{ game.team1 }}</td>	
			<td>{{ game.team2 }}</td>			
		</tr>
    {% endfor %}
	</table>
	
	<h2>Game Summary</h2>
	<table>
		<tr>
			<td>stat type</td>
			<td>stat amount</td>
			<td>minute</td>
			<td>player</td>
			<td>team</td>			
		</tr>
    {% for game in gs %}
		<tr>
			<td>{{ game.ename }}</td>
			<td>{{ game.estat }}</td>			
			<td>{{ game.etime }}</td>	
			<td>{{ game.pname }}</td>
			<td>{{ game.tid }}</td>			
		</tr>
    {% endfor %}
	</table>
	
	
	
{% endblock %}