{% extends "base.html" %}

{% block content %}
    <h1>Games</h1>
		<a href="newgame">Add new game</a>
		<table>
		<tr>
			<td>gid</td>
			<td>gname</td>
			<td>gdate</td>
			<td>team1</td>
			<td>team2</td>			
		</tr>
    {% for game in games %}
		<tr>
			<td><a href="game?gid={{ game.gid }}">{{ game.gid }}</a></td>
			<td>{{ game.team1 }} vs. {{ game.team2 }}</td>
			<td>{{ game.gdate }}</td>			
			<td>{{ game.team1 }}</td>	
			<td>{{ game.team2 }}</td>			
		</tr>
    {% endfor %}
	</table>
{% endblock %}