{% extends "base.html" %}

{% block content %}
    <h1>Games</h1>
		<a href="newgame">Add new game</a>
		<table>
		<tr>
			<td>gid</td>
			<td>game name</td>
			<td>date</td>
			<td>HOME</td>
			<td>AWAY</td>			
		</tr>
    {% for game in games %}
		<tr>
			<td><a href="game?gid={{ game.gid }}">{{ game.gid }}</a></td>
			<td><a href= "gameDetails?game name={{ game.home }} vs. {{ game.away }}">{{ game.home }} vs. {{ game.away }}</td>
			<td>{{ game.gdate }}</td>			
			<td>{{ game.home }}</td>	
			<td>{{ game.away }}</td>			
		</tr>
    {% endfor %}
	</table>
{% endblock %}