{% extends "base.html" %}

{% block content %}
    <h1>Match Events</h1>
		<a href="newMatchEvent">Add new match event</a>
		<br><br>
		<table>
		<tr>
			<th>eid</th>
			<th>ename</th>
			<th>stat</th>
			<th>minute</th>
			<th>player</th>
			<th>game</th>
			<th>team</th>			
		</tr>
    {% for matchEvent in matchEvents %}

		<tr>
			<td><a href="matchEvent?eid={{ matchEvent.eid }}">{{ matchEvent.eid }}</a></td>
			<td>{{ matchEvent.ename }}</td>
			<td>{{ matchEvent.estat }}</td>
			<td>{{ matchEvent.etime }}</td>
			<td>{{ matchEvent.pname }}</td>
			<td>{{ matchEvent.home }} vs. {{ matchEvent.away }}</td>
			<td>{{ matchEvent.tname }}</td>			
			
		</tr>
	    

    {% endfor %}
	</table>
{% endblock %}