{% extends "base.html" %}

{% block content %}
    <h1>New Match Event</h1>
	{% if msg %}
      <div eid="errormsg">
	  {% for err in msg %}
		{{ err }}<br>
	  {% endfor %}
	  </div> 
    {% endif %}
		<form action="/newMatchEvent" method="POST">
			Event Name:<br>
			<input type="text" name="ename" /><br><br>
			
			Stat:<br>
			<input type="text" name="estat" /><br><br>	
			
			Event Time:<br>
			<label for="etime">(1 minute - 120 minutes): </label><br>
			<input type="number" name="etime" min="1" max="120" /><br><br>
			
			Player:<br>
			<select name="pid">
				{% for player in pl %}	
				<option value="{{player.pid}}">{{player.pname}}</option>
				{% endfor %}
			</select>

			<br>

			Game:<br>
			<select name="gid">
				{% for game in gl %}	
				<option value="{{game.gid}}">{{game.team1}} vs. {{game.team2}}</option>
				{% endfor %}
			</select>

			<br>

			Team:<br>
			<select name="tid">
				{% for team in tl %}	
				<option value="{{team.tid}}">{{team.tname}}</option>
				{% endfor %}
			</select>			

			<br>
			<br>
			
			<input type="Submit" value="Save Match Event"/>
		
		
		</form>
{% endblock %}